.page-header
	.page-header-content.container
		.col-xs-10
			h1 Course Planner
		.col-xs-2
			if loggedIn
			ul.nav.navbar-nav.navbar-right
				//- li: a(href="#")= user.username
				li: a(href="/auth/logout") Log Out
		//- if loggedIn
		//- 	h1 logged in