doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Course Planner
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		include signInModal
		include navbar
		block content

		//- Handlebars templates
		include templates/course-list
		include templates/course-search
		include templates/course
		include templates/schedule
		include templates/year

		//- Vendor cdns
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js")
		script(src="/js/vendor/backbone-marionette.js")
		
		//- Models
		script(src="/js/lib/models/course-model.js")
		script(src="/js/lib/models/scheduled-course-model.js")

		//- Collections
		script(src="/js/lib/collections/user-schedule.js")
		script(src="/js/lib/collections/course-list.js")
		script(src="/js/lib/collections/scheduled-list.js")



		//- Views
		script(src="/js/lib/views/course-view.js")
		script(src="/js/lib/views/scheduled-course-view.js")
		script(src="/js/lib/views/course-list-view.js")
		script(src="/js/lib/views/schedule-view.js")

		//- Scripts
		script(src="js/main.js")