extends layout

block content
	.container
		h3 Sign Up
		form(method="post" action="/auth/signup")
			.form-group
				input.form-control#username-sign-up(type="text" name="username" placeholder="Username")
			.form-group
				input.form-control#password-sign-up(type="password" name="password" placeholder="Password")
			.form-group
				input.btn.btn-primary(type="submit")
		h3 Sign In
		form(method="post" action="/auth/login")
			.form-group
				input.form-control#username(type="text" name="username" placeholder="Username")
			.form-group
				input.form-control#password(type="password" name="password" placeholder="Password")
			.form-group
				input.btn.btn-primary#submit-btn(type="submit")