script#course-template(type="text/x-handlebars-template")
	.course-header {{department}}{{code}} - {{name}} - Credits: {{credits}}
	.course-details.
		Description: {{description}}
		Semesters Offered: {{semesters}}
		Prerequisites: {{prereqs}}