script#course-template(type="text/x-handlebars-template")
	//- li.course.list-group-item
	//- 	.course-header {{attributes.department}}{{attributes.code}}, {{attributes.name}}, {{attributes.credits}}
	//- 	.course-details
	//- 		{{attributes.description}}
	//- 		{{attributes.semesters}}
	//- 		{{attributes.prereqs}}

	
	//- li.course.list-group-item
	.course-header {{department}}{{code}}, {{name}}, {{credits}}
	.course-details.
		{{description}}
		{{semesters}}
		{{prereqs}}