script#course-list-template(type="text/x-handlebars-template")
	ul.course-list.list-unstyled.list-group.sortable.connected
		{{#each this}}
		li.course.list-group-item
			.course-header {{attributes.department}}{{attributes.code}}, {{attributes.name}}, {{attributes.credits}}
			.course-details
				{{attributes.description}}
				{{attributes.semesters}}
				{{attributes.prereqs}}
		{{/each}}