script#course-template(type="text/x-handlebars-template")
	.course-header
		p {{department}}{{code}} - {{name}} - Credits: {{credits}}
		p Year: {{year}}, Semester: {{semester}}, Course Id: {{courseId}}
	.course-details.
		Description: {{description}}
		Semesters Offered: {{semesters}}
		Prerequisites: {{prereqs}}