script#course-template(type="text/x-handlebars-template")
	.course-header
		h5 {{department}}{{code}} - {{name}}
		p  Credits: {{credits}}
	.course-details
		p Description: {{description}}
		p Semesters Offered: {{semesters}}
		//- p Prerequisites: {{prereqCourses}}