script#elective-list-template(type="text/x-handlebars-template")
	.user-electives-container.container
		.row
			h3.user-electives-header.col-xs-12.col-sm-8 Electives
			button.add-user-elective.col-xs-12.col-sm-4 Add Elective
		ul.user-electives-list
			li Course