script#required-list-template(type="text/x-handlebars-template")
	.required-courses-container.container
		h3.required-courses-header.col-xs-12.col-sm-8 Required Courses
		ul.required-courses-list
			li Course