script#sched-course-template(type="text/x-handlebars-template")
	.course-header
		h5 {{courseInfo.attributes.department}}{{courseInfo.attributes.code}} - {{courseInfo.attributes.name}}
		p Credits: {{courseInfo.attributes.credits}}
	.course-details
		p Description: {{courseInfo.attributes.description}}
		p Semesters Offered: {{courseInfo.attributes.semesters}}
		//- p Prerequisites: {{courseInfo.attributes.prereqCourses}}
	.prereq-error
		p This course has prerequisites that are not in your schedule.
	.semester-error
		p This course is not offered this semester.