script#schedule-template(type="text/x-handlebars-template")
	h2.schedule-title
	if loggedIn
		- for (var year = user.schedule.startYear; year <= user.schedule.endYear; year++) {
			.year.row Year: #{year}
		- }

