script#year-template(type="text/x-handlebars-template")
	//- .year.row
	h2 year
	each semester in ['Fall','Spring','Summer']
		.col-xs-12.col-sm-6.semester-container
			.semester-header= semester
			div(class='semester #{semester.toLowerCase()}')
			.semester-footer Credits:
